<%- include('partials/header') %>

<section class="section box-image-left post-tasks">
    <div class="container">
      <div class="row px-3">
        <div class="col-md-6 col-lg-6 col-sm-12 col-12 wow fadeInLeft">
          <div class="section-lg section-lg-top-100">
            <h2 class="title-icon title-icon-2"><span class="icon icon-default mercury-icon-post"></span><span><br>About Us<br><span class="text-light">Who are we ?</span></span></h2>
            <p class="big text-secondary">  We are the mediators between our platform users and qualified mechanics, painters, personal trainers, dance teachers, entrepreneurs who take what they are great at and turn it into something greater. 
                Busy moms, customers, homeowners, parents, folks with massive plans and even larger to-do-lists, who need some facilitate getting them done.</p>
    
          </div>
        </div>
      </div>
    </div>
    <div class="box-image-item box-image-video novi-background bg-image" style="background-image: url(images/what-we-do-illustration.png)"></div>
  </section>

<!-- Our Story-->
      <section class="section section-lg bg-light">
        <div class="container">
          
          <div class="row row-30 justify-content-xl-between px-3">
            
            <div class="col-md-6 col-xl-6 col-lg-6 col-sm-12 col-12">
              <ul class="list-lg mt-2">
                <li>
                  <div class="heading-5">What we do for our users </div>
                  <p class="p-offset-1 text-secondary">Connect them to thousands qualified services experts.<br>
                    Provide them the ability to compare service ratings & prices.<br>
                    Provide them the ability to request free quotes.<br>
                    Provide them the ability to pay online and get charged only when you confirm the job was done.
                </p>
                </li>
                <li>
                  <div class="heading-5">What we do for our service providers</div>
                  <p class="p-offset-1 text-secondary">Offer a new market with millions of potential customers.<br>
                    Provide them a way for guaranteed and secured income.<br>
                    We provide customers service to their clients.
                </p>
                </li>
                <li>
                  <div class="heading-5">What we take pride in</div>
                  <p class="p-offset-1 text-secondary">We find joy in helping customers safely conduct any home improvement projects<br>
                  We love helping providers save their reputations and grow their businesses.</p>
                </li>
                <li><a class=" sm-scr" href="#">Read more</a></li>
              </ul>
            </div>

            <div class="col-md-6 col-xl-6 col-lg-6 col-sm-12 col-12">
                <h2><span class="text-light ">Our</span> Story</h2>
                <p class="big text-secondary">Back in 2020, we started asking ourselves a straightforward question that might later become our mission: Why is it still difficult to hire an honest and skilled plumber? An excellent carpenter? Or any reliable professional? Within the era of an instant-everything, you should not have to struggle, waste time researching a pro, 
                  calling and comparing pros by yourself, waste money and resources to redo what was supposed to be done once by a pro. Therefore we set out to make it easier. In the near future, innumerable customers should be able to use MosalaPro technology to search out and hire professionals around the African continent.</p>
                <!--div class="box-shadow-2">
                  <div class="box-shadow-header">
                    <div class="unit flex-column flex-md-row">
                      <div class="unit-left">
                        <div class="heading-5">1.</div>
                      </div>
                      <div class="unit-body">
                        <p>Have a peace of mind. We are here to help</p>
                      </div>
                    </div>
                  </div><img class="img-responsive" src="images/about-1-569x338.jpg" alt="" width="569" height="169"/>
                </div-->
              </div>

          </div>
        </div>
      </section>
      <!-- Our Principles-->
      <section class="section section-lg ">
        <div class="container text-center ">
            <h2><span class="text-light">Our</span> Vision</h2><br>
          <div class="row row-30 number-counter-2 px-3">
            <div class="col-md-4 col-lg-4 col-sm-12 col-12">
              <div class="box-numbered-left unit">
                <div class="unit-left">
                  <div class="index-counter"></div>
                </div>
                <div class="unit-body">
                  <h5 class="title">Build Local Economy</h5>
                  <div class="content">At MosalaPro, we’re building more than a project. We’re building local economies and stronger communities. 
                    Leveling the playing field so that the tiniest business has a greater chance of success.</div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 col-12">
              <div class="box-numbered-left unit">
                <div class="unit-left">
                  <div class="index-counter"></div>
                </div>
                <div class="unit-body">
                  <h5 class="title">Believe in Talent</h5>
                  <div class="content">MosalaPro is about skill, hustle, and the victory of getting things done – not what you look like, who you’re keen on, or what you believe in. MosalaPro is for everyone.</div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 col-12">
              <div class="box-numbered-left unit">
                <div class="unit-left">
                  <div class="index-counter"></div>
                </div>
                <div class="unit-body">
                  <h5 class="title">Be a People Company</h5>
                  <div class="content">It’s a privilege to be a tech company. however in the long run we aim to become a people company, not only a tech business. Its heart lies in each suburb, city, and town throughout Africa. Individuals helping their next-door neighbors. 
                    Busy families hiring family businesses. This could be what the future looks like. And we’re building it together. </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
     

        <%- include('partials/footer') %>