

<%- include("partials/header") %>
<hr class="hr-page-sep" />
<div class="page-nf-container">
  <h1 class="page-nf-first-four">4</h1>
  <div class="page-nf-cog-wheel1">
      <div class="page-nf-cog1">
        <div class="page-nf-top"></div>
        <div class="page-nf-down"></div>
        <div class="page-nf-left-top"></div>
        <div class="page-nf-left-down"></div>
        <div class="page-nf-right-top"></div>
        <div class="page-nf-right-down"></div>
        <div class="page-nf-left"></div>
        <div class="page-nf-right"></div>
    </div>
  </div>
  
  <div class="page-nf-cog-wheel2"> 
    <div class="page-nf-cog2">
        <div class="page-nf-top"></div>
        <div class="page-nf-down"></div>
        <div class="page-nf-left-top"></div>
        <div class="page-nf-left-down"></div>
        <div class="page-nf-right-top"></div>
        <div class="page-nf-right-down"></div>
        <div class="page-nf-left"></div>
        <div class="page-nf-right"></div>
    </div>
  </div>
 <h1 class="page-nf-second-four">4</h1>
  <h2 class="page-nf-wrong-para">Oups! Page not found!</h2>
</div>


<%- include("partials/footer") %>
